# Pandas

Pandas is Python libraries, requieres numpy. It has two kinds of data types **Series** wich are like arrays and **DataFrames** matrix with index in for the rows and titles for he columns.

In [15]:
import pandas as pd
import numpy as np

## Series

In [16]:
clients = pd.Series(['Jose', 'Karala', 'Martin', 'Dionicio'], index = [2, 1, 5, 7])
clients

2        Jose
1      Karala
5      Martin
7    Dionicio
dtype: object

In [17]:
pd.Series(['Jose', 'Karala', 'Martin', 'Dionicio'])

0        Jose
1      Karala
2      Martin
3    Dionicio
dtype: object

In [18]:
pd.Series(['Jose', 'Karala', 'Martin', 'Dionicio'])

0        Jose
1      Karala
2      Martin
3    Dionicio
dtype: object

In [19]:
pd.Series({1:'Jose', 2:'Karala', 3:'Martin', 4:'Dionicio'})

1        Jose
2      Karala
3      Martin
4    Dionicio
dtype: object

In [20]:
clients[5]

'Martin'

## DataFrames

They are defined with **dictionaries** with the title of the column as a **key** and the data as a list in the **value** position

In [21]:
pd.DataFrame({
    'Players':['Jose', 'Anuel', 'Cocomi', 'Karolina'],
    'Deaths':[1, 4, 5, 7],
    'Kills':[78, 30, 17, 85]
})

    Players  Deaths  Kills
0      Jose       1     78
1     Anuel       4     30
2    Cocomi       5     17
3  Karolina       7     85

In [24]:
players = pd.DataFrame({
    'Players':['Jose', 'Anuel', 'Cocomi', 'Karolina'],
    'Deaths':[1, 4, 5, 7],
    'Kills':[78, 30, 17, 85]
}, index =  [5, 6, 1, 7])

In [25]:
players.columns

Index(['Players', 'Deaths', 'Kills'], dtype='object')

In [26]:
players.index

Int64Index([5, 6, 1, 7], dtype='int64')